<!DOCTYPE html>
<html ng-app="mine">

<head>
	<title>Bao's Grubmlr</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
 	<script type="text/javascript" src="main.js"></script>
</head>

<body ng-controller='mineController as vm'>

<h2>List Of Things To Do</h2>

<div ng-repeat='mine in vm.mines | filter: {completed: false}'>
	<p>{{$index + 1}}. {{mine.name}} - {{mine.completed}} </p>
</div>

<!-- <div ng-repeat='mine in vm.lists | filter: {completed: false'>
	
</div> -->

<div>
<input type="text" ng-model ="vm.newMine">
	<!-- <button ng-click ="vm.addMine()">Add things to do. --></button>
		<p>User input: {{vm.newMine}}</p>
</div>

<!-- <div>
	<input type="text" ng-model ="vm.newMine">
		<button ng-click ="vm.addMine()">Add</button>
			<p>Title input:</p>
</div> -->

</body>
</html>